.transitionContainer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  pointer-events: none;

  z-index: 999;
}

.transition-row {
  flex: 1;
  display: flex;
}

.block {
  flex: 1;
  background: rgb(255, 255, 255);
  transform: scaleY(0);
}

.transition-row.row-1 .block {
  transform-origin: top;
}

.transition-row.row-2 .block {
  transform-origin: bottom;
}
